<title>{{.Title}}</title>
<meta name="description" content="{{.Page.Description}}">
<meta name="keywords" content="{{.Page.Keywords}}">
<meta name="author" content="{{.Page.Author}}">
<link rel="canonical" href="{{.Page.URL}}">
<!-- twitter -->
<meta name="twitter:title" content="{{.Page.Title}}">
<meta name="twitter:description" content="{{.Page.Description}}">
<meta name="twitter:url" content="{{.Page.URL}}">
<!-- og -->
<meta property="og:title" content="{{.Page.Title}}">
<meta property="og:description" content="{{.Page.Description}}">
<meta property="og:url" content="{{.Page.URL}}">
<meta property="og:type" content="website">
<!-- structured data -->
<script type="application/ld+json">
	{
		"@context": "https://schema.org/",
		"@type": "Article",
		"mainEntityOfPage": {
			"@type": "WebPage",
			"@id": {{.Page.URL}}
		},
		"headline": {{.Page.Title}},
		"description": {{.Page.Description}},
		"image": "", // thumbnail url
		"author": {
			"@type": "Person",
			"name": {{.Page.Author}},
			"url": {{.Page.URL}}
		},
		"publisher": {
			"@type": "Organization",
			"name": {{.Page.Author}},
			"logo": {
				"@type": "ImageObject",
				"url": "" // thumbnail url
			}
		},
		"datePublished": {{.Page.DatePublished}},
		"dateModified": {{.Page.DateModified}}
	}
</script>